body {
    background-image: url(/img/2.jpg);
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgb(18, 18, 18);
}
header {
    text-align: left;
    grid-area: cabecalho;
    background-color: #dddeef;
}
header a {
    text-decoration: none;
    font-size: 25px;
    color:#02054b;
}
header button {
    border-radius: 25px;
    border: none;
    background-color: transparent;
}
header button:hover {
    background-color: #fff;
}
header a:hover {
    color: black;
}
section {
    grid-area: secao;
}
.container {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    overflow: hidden;   
}
.container h2{
    text-align: center;
}
.container input{
    padding: 5px 5px;
    border-radius: 10px;
    border-color: #02054b;
}
.container input:hover{
    background-color: #dddeef;
}
.container label{
    margin-left: 35px;
}
.container .enviar{
    margin-left: 35px;
    margin-bottom: 10%;
    background-color: rgb(68, 0, 255);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
}
.container select{
    padding: 5px 5px;
    border-radius: 10px;
    border-color: #02054b;
}
footer {
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
footer .rodape {
    text-align: center;
}
footer p{
    font-size: 20px;
}
/*Medidas cell*/
@media(max-width: 768px) {
    body {
        margin: 0 15px;
    }
}